* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1236px;
  margin: auto;
}

header {
  border-bottom: 1px solid black;
}

.header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header-left li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left li a {
  display: block;
  font-size: 16px;
  padding: 0.75rem;
  font-weight: bold;
  color: black;
}

.header-left li a:hover {
  background-color: blue;
}

.header-left li + li {
  margin-left: 2.5rem;
}

.header-left .active {
  background-color: black;
}

.header-left .active a {
  color: white;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

.header-right-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2.66rem;
}

.header-right-search input {
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 0.3rem;
  font-size: 0.75rem;
}

.header-right-search a {
  position: relative;
  right: 1rem;
}

.header-right-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2.5rem;
}

.header-right-account .account-image {
  margin-right: 0.625rem;
}

.header-right-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header-right-cart .cart-number {
  position: absolute;
  right: -0.5rem;
  z-index: 1;
  background-color: black;
  color: white;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  text-align: center;
}

.header-right-cart .cart-icon {
  width: 1.3rem;
  height: 1.15rem;
  z-index: 0;
}

.header-right-cart .cart-icon img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-food-seasoning-food-banner-image_169169.jpg");
  background-repeat: no-repeat;
  height: 25.625rem;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  background-position: center;
  margin-top: 1.3rem;
  width: 1384px;
}

.banner-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.banner-item .banner-content {
  margin: 6.56rem 0;
  width: 30rem;
}

.banner-item .banner-content .title {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 48px;
  color: black;
}

.banner-item .banner-content .content {
  margin-top: 0.8rem;
  margin-bottom: 1.93rem;
  font-size: 1.125rem;
}

.banner-item .banner-content button {
  width: 8.5rem;
  padding: 0.75rem 0;
  border: none;
  color: white;
  background-color: black;
  font-size: 1rem;
}

section {
  margin-top: 4rem;
}

section .section-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3.75rem;
}

section .section-head .title {
  width: 370px;
  margin-right: 2rem;
  font-size: 2.25rem;
  font-weight: bold;
}

section .section-head .descript {
  font-size: 1.125rem;
  width: 843px;
}

section .card {
  margin-bottom: 8.56rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .card .card-item .card-content {
  margin-top: 1.7rem;
}

section .card .card-item .card-content .title {
  font-size: 1.25rem;
  font-weight: bold;
  height: 2.25rem;
}

section .card .card-item .card-content .descript {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  padding: 0.25rem 0;
  height: 3.75rem;
}

section .card .card-item img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

section .card .card-item + .card-item {
  margin-left: 30px;
}

section .card .item-two {
  width: 50%;
}

section .card .item-four {
  width: 25%;
}

section .card .item-three {
  width: calc(100% / 3);
  height: 390px;
}

.footer {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.footer-top {
  margin: 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-top .top {
  width: 25%;
}

.footer-top .top + .top {
  margin-left: 3.68rem;
}

.footer-top .about-us ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-top .payment .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-top .payment .img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 25%;
}
/*# sourceMappingURL=style.css.map */